<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qmetry.qaf.automation.step.client.Scenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogIn functionality with valid username and blank password</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the Approval for Bright Spark</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the Approval process for Bright Spark</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the Approval process for Pat On Back</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the Add Travel request page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify UI of New Post page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>To verify the detail of My Nominations</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify UI of My Post page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>To verify detail of the Bright Spark page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>To verify detail of the Bright Spark page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify UI of New Post page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the functionality of Submit button with invalid details on New Expense page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the functionality of Add attachment or drop a file to attach on the New expense screen.</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the Apply Leave functionality when user applies for a single day Leave</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the Apply Leave functionality when user applies for Leave including Holiday.</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify the Team Leave List page</td>
<td>SMOKE </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.qmetry.qaf.automation.step.client.DataDrivenScenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogIn functionality with blank username and blank password</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify Team leave list functionality</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogIn functionlity with invalid username and invalid password</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogIn functionality with valid username and valid password</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Functionality of Travel request page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify logout functionality</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogIn functionality with blank username and blank password</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify Team leave list functionality</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogIn functionlity with invalid username and invalid password</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogIn functionality with valid username and valid password</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Functionality of Travel request page</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Verify logout functionality</td>
<td>SMOKE </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
