<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:04</td>   <td>0</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2041416495</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:04</td>   <td>49</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:04</td>   <td>50</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:04</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:04</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:04</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:04</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:09:04</td>   <td>82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionality with blank username and blank password( java.util.Map)[pri:1000, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3e8]">LogIn functionality with blank username and blank password</td> 
  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:09:04</td>   <td>82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionality with blank username and blank password( java.util.Map)[pri:1022, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3fe]">LogIn functionality with blank username and blank password</td> 
  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:09:37</td>   <td>33011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:09:37</td>   <td>33012</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:37</td>   <td>33014</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:37</td>   <td>33016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:09:37</td>   <td>33017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify Team leave list functionality( java.util.Map)[pri:1023, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ff]">Verify Team leave list functionality</td> 
  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:09:42</td>   <td>38165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:09:42</td>   <td>38165</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:42</td>   <td>38166</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:09:42</td>   <td>38167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:09:42</td>   <td>38168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionlity with invalid username and invalid password( java.util.Map)[pri:1024, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@400]">LogIn functionlity with invalid username and invalid password</td> 
  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:10:07</td>   <td>62926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:10:07</td>   <td>62927</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:10:07</td>   <td>62927</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:10:07</td>   <td>62928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:10:07</td>   <td>62929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify Team leave list functionality( java.util.Map)[pri:1001, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3e9]">Verify Team leave list functionality</td> 
  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:10:44</td>   <td>100076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:10:44</td>   <td>100076</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:10:44</td>   <td>100077</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:10:44</td>   <td>100078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:10:44</td>   <td>100078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionality with valid username and blank password()[pri:1025, instance:com.qmetry.qaf.automation.step.client.Scenario@401]">LogIn functionality with valid username and blank password</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:11:15</td>   <td>131328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:11:15</td>   <td>131328</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:11:15</td>   <td>131329</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:11:15</td>   <td>131331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:11:15</td>   <td>131331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionlity with invalid username and invalid password( java.util.Map)[pri:1002, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ea]">LogIn functionlity with invalid username and invalid password</td> 
  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:11:42</td>   <td>158176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:11:42</td>   <td>158176</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:11:42</td>   <td>158177</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:11:42</td>   <td>158178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:11:42</td>   <td>158179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionality with valid username and blank password()[pri:1003, instance:com.qmetry.qaf.automation.step.client.Scenario@3eb]">LogIn functionality with valid username and blank password</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:11:47</td>   <td>162888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:11:47</td>   <td>162889</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:11:47</td>   <td>162889</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:11:47</td>   <td>162890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:11:47</td>   <td>162890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionality with valid username and valid password( java.util.Map)[pri:1026, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@402]">LogIn functionality with valid username and valid password</td> 
  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:12:04</td>   <td>179751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:12:04</td>   <td>179751</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:12:04</td>   <td>179752</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:12:04</td>   <td>179753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:12:04</td>   <td>179753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.LogIn functionality with valid username and valid password( java.util.Map)[pri:1004, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ec]">LogIn functionality with valid username and valid password</td> 
  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:12:36</td>   <td>211732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:12:36</td>   <td>211733</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:12:36</td>   <td>211733</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:12:36</td>   <td>211735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:12:36</td>   <td>211735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Functionality of Travel request page( java.util.Map)[pri:1005, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ed]">Functionality of Travel request page</td> 
  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:12:51</td>   <td>226872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:12:51</td>   <td>226873</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:12:51</td>   <td>226873</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:12:51</td>   <td>226875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:12:51</td>   <td>226875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Functionality of Travel request page( java.util.Map)[pri:1027, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@403]">Functionality of Travel request page</td> 
  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:13:56</td>   <td>292448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:13:56</td>   <td>292448</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:13:56</td>   <td>292449</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:13:56</td>   <td>292450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:13:56</td>   <td>292450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify logout functionality( java.util.Map)[pri:1028, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">Verify logout functionality</td> 
  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:13:58</td>   <td>293824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:13:58</td>   <td>293825</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:13:58</td>   <td>293825</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:13:58</td>   <td>293826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="6a82c4">  <td>18/07/18 16:13:58</td>   <td>293827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify logout functionality( java.util.Map)[pri:1006, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">Verify logout functionality</td> 
  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:15:06</td>   <td>362274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:15:06</td>   <td>362274</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:15:06</td>   <td>362275</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:15:06</td>   <td>362275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:15:06</td>   <td>362276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Approval for Bright Spark()[pri:1029, instance:com.qmetry.qaf.automation.step.client.Scenario@405]">Verify the Approval for Bright Spark</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:16:02</td>   <td>417913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:16:02</td>   <td>417914</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:16:02</td>   <td>417914</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:16:02</td>   <td>417915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:16:02</td>   <td>417916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Approval for Bright Spark()[pri:1007, instance:com.qmetry.qaf.automation.step.client.Scenario@3ef]">Verify the Approval for Bright Spark</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:16:09</td>   <td>425232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:16:09</td>   <td>425232</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:16:09</td>   <td>425233</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:16:09</td>   <td>425233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:16:09</td>   <td>425234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Approval process for Bright Spark()[pri:1030, instance:com.qmetry.qaf.automation.step.client.Scenario@406]">Verify the Approval process for Bright Spark</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:16:42</td>   <td>458048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:16:42</td>   <td>458049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:16:42</td>   <td>458050</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:16:42</td>   <td>458051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:16:42</td>   <td>458051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Approval process for Pat On Back()[pri:1031, instance:com.qmetry.qaf.automation.step.client.Scenario@407]">Verify the Approval process for Pat On Back</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:17:14</td>   <td>490261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:17:14</td>   <td>490262</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:17:14</td>   <td>490262</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:17:14</td>   <td>490263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:17:14</td>   <td>490263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Add Travel request page()[pri:1032, instance:com.qmetry.qaf.automation.step.client.Scenario@408]">Verify the Add Travel request page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:17:47</td>   <td>522814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:17:47</td>   <td>522814</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:17:47</td>   <td>522815</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:17:47</td>   <td>522815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:17:47</td>   <td>522815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Approval process for Bright Spark()[pri:1008, instance:com.qmetry.qaf.automation.step.client.Scenario@3f0]">Verify the Approval process for Bright Spark</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:17:48</td>   <td>524011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:17:48</td>   <td>524012</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:17:48</td>   <td>524012</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:17:48</td>   <td>524013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:17:48</td>   <td>524013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify UI of New Post page()[pri:1033, instance:com.qmetry.qaf.automation.step.client.Scenario@409]">Verify UI of New Post page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:18:24</td>   <td>559884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:18:24</td>   <td>559888</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:18:24</td>   <td>559889</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:18:24</td>   <td>559902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:18:24</td>   <td>559903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.To verify the detail of My Nominations()[pri:1034, instance:com.qmetry.qaf.automation.step.client.Scenario@40a]">To verify the detail of My Nominations</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:18:37</td>   <td>573434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:18:37</td>   <td>573435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:18:37</td>   <td>573435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:18:37</td>   <td>573435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:18:37</td>   <td>573435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Approval process for Pat On Back()[pri:1009, instance:com.qmetry.qaf.automation.step.client.Scenario@3f1]">Verify the Approval process for Pat On Back</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:18:58</td>   <td>594180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:18:58</td>   <td>594181</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:18:58</td>   <td>594181</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:18:58</td>   <td>594181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:18:58</td>   <td>594182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify UI of My Post page()[pri:1035, instance:com.qmetry.qaf.automation.step.client.Scenario@40b]">Verify UI of My Post page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:19:30</td>   <td>626108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:19:30</td>   <td>626109</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:19:30</td>   <td>626109</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:19:30</td>   <td>626109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:19:30</td>   <td>626110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.To verify detail of the Bright Spark page()[pri:1036, instance:com.qmetry.qaf.automation.step.client.Scenario@40c]">To verify detail of the Bright Spark page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:19:33</td>   <td>628961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:19:33</td>   <td>628961</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:19:33</td>   <td>628961</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:19:33</td>   <td>628962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:19:33</td>   <td>628962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Add Travel request page()[pri:1010, instance:com.qmetry.qaf.automation.step.client.Scenario@3f2]">Verify the Add Travel request page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:20:02</td>   <td>658365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:20:02</td>   <td>658366</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:20:02</td>   <td>658366</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:20:02</td>   <td>658366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:20:02</td>   <td>658366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.To verify detail of the Bright Spark page()[pri:1037, instance:com.qmetry.qaf.automation.step.client.Scenario@40d]">To verify detail of the Bright Spark page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:20:32</td>   <td>687816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:20:32</td>   <td>687816</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:20:32</td>   <td>687816</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:20:32</td>   <td>687817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:20:32</td>   <td>687817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify UI of New Post page()[pri:1011, instance:com.qmetry.qaf.automation.step.client.Scenario@3f3]">Verify UI of New Post page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:20:37</td>   <td>693144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:20:37</td>   <td>693145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:20:37</td>   <td>693145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:20:37</td>   <td>693146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:20:37</td>   <td>693146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify UI of New Post page()[pri:1038, instance:com.qmetry.qaf.automation.step.client.Scenario@40e]">Verify UI of New Post page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:21:09</td>   <td>725243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:21:09</td>   <td>725244</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:21:09</td>   <td>725244</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:21:09</td>   <td>725244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:21:09</td>   <td>725244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the functionality of Submit button with invalid details on New Expense page()[pri:1039, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">Verify the functionality of Submit button with invalid details on New Expense page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:21:24</td>   <td>739767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:21:24</td>   <td>739767</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:21:24</td>   <td>739768</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:21:24</td>   <td>739768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:21:24</td>   <td>739768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.To verify the detail of My Nominations()[pri:1012, instance:com.qmetry.qaf.automation.step.client.Scenario@3f4]">To verify the detail of My Nominations</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:22:12</td>   <td>788061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:22:12</td>   <td>788061</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:22:12</td>   <td>788062</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:22:12</td>   <td>788062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:22:12</td>   <td>788062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the functionality of Add attachment or drop a file to attach on the New expense screen.()[pri:1040, instance:com.qmetry.qaf.automation.step.client.Scenario@410]"></td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:22:14</td>   <td>790458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:22:14</td>   <td>790458</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:22:14</td>   <td>790459</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:22:14</td>   <td>790459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:22:14</td>   <td>790460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify UI of My Post page()[pri:1013, instance:com.qmetry.qaf.automation.step.client.Scenario@3f5]">Verify UI of My Post page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:05</td>   <td>841521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:05</td>   <td>841521</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:05</td>   <td>841522</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:05</td>   <td>841522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:23:05</td>   <td>841522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.To verify detail of the Bright Spark page()[pri:1014, instance:com.qmetry.qaf.automation.step.client.Scenario@3f6]">To verify detail of the Bright Spark page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:19</td>   <td>855133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:19</td>   <td>855133</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:19</td>   <td>855133</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:19</td>   <td>855134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:23:19</td>   <td>855134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Apply Leave functionality when user applies for a single day Leave()[pri:1041, instance:com.qmetry.qaf.automation.step.client.Scenario@411]">Verify the Apply Leave functionality when user applies for a single day Leave</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:48</td>   <td>884008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:48</td>   <td>884008</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:48</td>   <td>884008</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:48</td>   <td>884009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:23:48</td>   <td>884009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.To verify detail of the Bright Spark page()[pri:1015, instance:com.qmetry.qaf.automation.step.client.Scenario@3f7]">To verify detail of the Bright Spark page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:53</td>   <td>889168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:23:53</td>   <td>889168</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:53</td>   <td>889168</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:23:53</td>   <td>889169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:23:53</td>   <td>889169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Apply Leave functionality when user applies for Leave including Holiday.()[pri:1042, instance:com.qmetry.qaf.automation.step.client.Scenario@412]"></td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:24:26</td>   <td>922624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:24:26</td>   <td>922624</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:24:26</td>   <td>922624</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:24:26</td>   <td>922624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:24:26</td>   <td>922625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Team Leave List page()[pri:1043, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">Verify the Team Leave List page</td> 
  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:24:33</td>   <td>929366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:24:33</td>   <td>929366</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:24:33</td>   <td>929367</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:24:33</td>   <td>929367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:24:33</td>   <td>929367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify UI of New Post page()[pri:1016, instance:com.qmetry.qaf.automation.step.client.Scenario@3f8]">Verify UI of New Post page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:24:59</td>   <td>954737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:24:59</td>   <td>954737</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@413]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1025 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:24:59</td>   <td>954738</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@204413480</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:25:24</td>   <td>980040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:25:24</td>   <td>980040</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:25:24</td>   <td>980040</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:25:24</td>   <td>980041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:25:24</td>   <td>980041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the functionality of Submit button with invalid details on New Expense page()[pri:1017, instance:com.qmetry.qaf.automation.step.client.Scenario@3f9]">Verify the functionality of Submit button with invalid details on New Expense page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:27:01</td>   <td>1077047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:27:01</td>   <td>1077048</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:27:01</td>   <td>1077048</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:27:01</td>   <td>1077048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:27:01</td>   <td>1077049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the functionality of Add attachment or drop a file to attach on the New expense screen.()[pri:1018, instance:com.qmetry.qaf.automation.step.client.Scenario@3fa]"></td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:28:38</td>   <td>1174025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:28:38</td>   <td>1174025</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:28:38</td>   <td>1174025</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:28:38</td>   <td>1174026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:28:38</td>   <td>1174026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Apply Leave functionality when user applies for a single day Leave()[pri:1019, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">Verify the Apply Leave functionality when user applies for a single day Leave</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:29:34</td>   <td>1230063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:29:34</td>   <td>1230064</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:29:34</td>   <td>1230064</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:29:34</td>   <td>1230064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:29:34</td>   <td>1230064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Apply Leave functionality when user applies for Leave including Holiday.()[pri:1020, instance:com.qmetry.qaf.automation.step.client.Scenario@3fc]"></td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:30:35</td>   <td>1291409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:30:35</td>   <td>1291409</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:30:35</td>   <td>1291409</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:30:35</td>   <td>1291410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="7f8296">  <td>18/07/18 16:30:35</td>   <td>1291410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.suite1.bdd.Verify the Team Leave List page()[pri:1021, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">Verify the Team Leave List page</td> 
  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:31:48</td>   <td>1364386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:31:48</td>   <td>1364387</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1003 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 </td> </tr>
<tr bgcolor="71d0d8">  <td>18/07/18 16:31:48</td>   <td>1364388</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ee]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2059214935</td>   <td>1000 1001 1002 1004 1005 1006 </td> </tr>
<tr bgcolor="9379b6">  <td>18/07/18 16:31:48</td>   <td>1364529</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@404]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2041416495</td>   <td>1022 1023 1024 1026 1027 1028 </td> </tr>
</table>
